flows (2).json
[{"id":"a08bba76.4a53d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa00eab4.68a728","type":"ui_form","z":"a08bba76.4a53d8","name":"","label":"","group":"b308622.2160fa","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter E-mail","value":"E-mail","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","E-mail":"","password":""},"payload":"","submit":"Create","cancel":"cancle","topic":"","x":150,"y":140,"wires":[["4798fe9b.c84ee","e1d2e92.7563218"]]},{"id":"4798fe9b.c84ee","type":"debug","z":"a08bba76.4a53d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"e1d2e92.7563218","type":"function","z":"a08bba76.4a53d8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload[\"E-mail\"],\n    password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["19afd25a.bc228e"]]},{"id":"19afd25a.bc228e","type":"cloudant out","z":"a08bba76.4a53d8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-jqxol-2020--cloudant-1597403405927-11774","payonly":true,"operation":"insert","x":480,"y":140,"wires":[]},{"id":"ffeec65f.b9bdf8","type":"function","z":"a08bba76.4a53d8","name":"","func":"global.set('emailid',msg.payload.emailid);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":300,"wires":[["4c9172a3.51defc"]]},{"id":"4c9172a3.51defc","type":"function","z":"a08bba76.4a53d8","name":"","func":"var emailid=global.get(\"emailid\");\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["829070cf.13f6b"]]},{"id":"829070cf.13f6b","type":"cloudant in","z":"a08bba76.4a53d8","name":"","cloudant":"","database":"sample","service":"node-red-jqxol-2020--cloudant-1597403405927-11774","search":"_idx_","design":"user","index":"user","x":690,"y":300,"wires":[["b17de248.e4145"]]},{"id":"b17de248.e4145","type":"function","z":"a08bba76.4a53d8","name":"","func":"if(msg.payload[0].password===global.get('password'))\n{\n    msg.payload='Login Succesfull';\n}\nelse\n{\n    msg.payload='Login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":300,"wires":[["32f98142.8f0d2e"]]},{"id":"491dfbcd.a2a154","type":"ui_form","z":"a08bba76.4a53d8","name":"","label":"","group":"ea4c2b7c.536498","order":0,"width":0,"height":0,"options":[{"label":"email","value":"emailid","type":"email","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"emailid":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":167,"y":300,"wires":[["ffeec65f.b9bdf8"]]},{"id":"32f98142.8f0d2e","type":"ui_text","z":"a08bba76.4a53d8","group":"ea4c2b7c.536498","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":300,"wires":[]},{"id":"93b043d2.c6554","type":"ui_form","z":"a08bba76.4a53d8","name":"","label":"","group":"9c872c6e.3a339","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":420,"wires":[["ef6ca2df.4e371"]]},{"id":"ef6ca2df.4e371","type":"function","z":"a08bba76.4a53d8","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["6717b715.dff258"]]},{"id":"6717b715.dff258","type":"watson-conversation-v1","z":"a08bba76.4a53d8","name":"","workspaceid":"2d2e7711-a6d7-424a-86f6-723007c5a6c7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":550,"y":420,"wires":[["f2fbafde.27151","104923.bf2586dd"]]},{"id":"f2fbafde.27151","type":"debug","z":"a08bba76.4a53d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":360,"wires":[]},{"id":"104923.bf2586dd","type":"function","z":"a08bba76.4a53d8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":420,"wires":[["7a795da6.38c054"]]},{"id":"7a795da6.38c054","type":"ui_text","z":"a08bba76.4a53d8","group":"9c872c6e.3a339","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"col-center","x":980,"y":420,"wires":[]},{"id":"b308622.2160fa","type":"ui_group","z":"","name":"Reg Page","tab":"aad0fe18.d58c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea4c2b7c.536498","type":"ui_group","z":"","name":"loginform","tab":"9f65f668.7f9d88","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c872c6e.3a339","type":"ui_group","z":"","name":"Bot","tab":"c30dc534.e11468","order":1,"disp":true,"width":"6","collapse":false},{"id":"aad0fe18.d58c7","type":"ui_tab","z":"","name":"registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9f65f668.7f9d88","type":"ui_tab","z":"","name":"loginpage","icon":"dashboard","disabled":false,"hidden":false},{"id":"c30dc534.e11468","type":"ui_tab","z":"","name":"Customerhelp","icon":"dashboard","disabled":false,"hidden":false}]